body {
    background-color: #ffffff;
    overflow-y: auto;
}

.table {
    background-color: white;
}

.table thead th {
    background-color: #d1d1d1;

}

.table tbody tr:hover {
    background-color: #f5f5f5;
}

.form-control:focus {
    border-color: #ffffff !important;
}

.no-scroll {
  overflow: hidden;
}

.input-group:hover {
    cursor: pointer;
}

.input-text {
    border-radius: 10px;
    padding: 2% 3% 2% 3%;
    font-size: small;
    background-color: #f9f9f9;
}

.btn-blue {
    background-color: #1E90FF !important;
    border-color: #1E90FF !important;
    color: white !important;
    font-size: small;
    width: 22%;
    border-radius: 6px;
}

.btn-blue:hover {
    background-color: #61b0ff !important;
    border-color: #61b0ff !important;
    color: white !important;
}

.date-input {
    border-color: #1E90FF;
    font-size: small;
    margin-top: 0.5%;
    height: 97%;
}

.date-input:hover {
    cursor: pointer;
}

.date-input:focus {
    border-color: #ffffff;
}

.input-group-text {
    background-color: #1E90FF !important;
    border-color: #ffffff !important;
    color: white !important;
    height: 105%;
    margin-top: -1px;
}

.btn-daymodify {
    font-size: small;
    width: 50%;
    border: none;
    color: #1E90FF;
    background-color: transparent;
}


.btn-daymodify:hover {
    background-color: #e6f2ff;
    color: black;
}

.btn-daymodify:focus {
    background-color: transparent;
    color: #1E90FF;
    border: transparent;
}

.btn-daymodify:active {
    background-color: transparent;
    color: #1E90FF;
}

.chart-div-title {
    padding-top:10px; 
    padding-bottom: 10px; 
    padding-left:10px;
    margin-top: 10px; 
    margin-left:10px; 
    font-size:small; 
    color:rgb(22, 22, 22); 
    width: 97.8%; 
    background-color: #e2e2e2; 
    border-radius: 10px 10px 0 0;
}

.navbar-custom {
    background-color: #1E90FF; 
    padding-right: 0;
  }

  /* Customizing the navbar text color */
  .navbar-custom .navbar-nav .nav-link {
    color: white; /* White text color */
  }

  /* Customizing the toggle button color */
  .navbar-custom .navbar-toggler-icon {
    background-color: white; /* White toggle button color */
  }

  .navbar-brand {
    color: white;
  }

  .delete-button {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white; /* Text color */
}

.delete-button:hover {
    background-color: #b21f2d; /* Darker red on hover */
    border-color: #b21f2d; /* Darker red on hover */
}

.delete-button .fa-trash-alt {
    color: white; /* Icon color */
}


.collapsible-div {
    border: 1px solid #dee2e6;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .collapsible-header {
    background-color: #f8f9fa;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .collapsible-header .btn-link {
    color: #333;
    font-weight: bold;
    text-decoration: none;
  }
  
  .collapsible-header .btn-link:hover,
  .collapsible-header .btn-link:focus {
    color: #007bff;
    text-decoration: none;
  }
  
  .collapsible-body {
    padding: 15px;
    background-color: #fff;
    display: none;
  }
  
  /* Show/hide the collapsible body */
  .collapsible-div.active .collapsible-body {
    display: block;
  }

  .column-item {
    width: 35%;
  }
  .column-quantity {
    width: 18%;
  }
  .column-serving-size {
    width: 22%;
  }
  .column-calories {
    width: 25%;
  }
  .r1wk-card {
  height: 160px; margin-top: -3px; padding: 0; z-index: -1px; border-radius: 0;
  }
  .last-week-cal {
    padding: 0; padding-left: 6%;
  }
  .this-week-cal {
    padding: 0; padding-right: 6%;
  }

  .chart-div {
    height: 328px; margin-top: -3px; margin-left:10px; padding: 0; z-index: -1px; border-radius: 0; 
  }

  .title-top {
    margin-top:3%;
  }

  .btn-div {
    padding: 0;
  }
  
.food-item-class {
  margin:0; 
  border-radius: 5px; 
  background-color: white; 
  height: 80px; 
  border-width: 1px; 
  border-style: solid; 
  border-color: rgb(182, 182, 182); 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.rec-item-class {
  margin:10px; 
  border-radius: 5px; 
  background-color: white; 
  height: AUTO; 
  border-width: 1px; 
  border-style: solid; 
  border-color: rgb(182, 182, 182); 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.col-custom {
  flex: 0 0 20%;
    max-width: 40%;
}

.agg-div {
  margin-left: 9%;
}
.icon-food {
    height: 45px;
    width: 45px;
    border-color: #1E90FF;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.food-details {
    display: flex;
    align-items: center;
    width: 100%;
}

.food-image {
    width: 20px;
    height: 20px;
    margin-right: 1px;
}

.food-info {
    display: flex;
    flex-direction: column;
}

.rec-info {
  display: flex;
  flex-direction: column;
}

.food-name {
    margin: 0;
    margin-top: 10px;
}

.rec-name {
  margin: 0;
  margin-top: 15px;
}

.food-number {
    margin: 0;
    margin-top: 6px;
}

.rec-calories-amount {
  margin: 0;
  margin-top: 12px;
  
}

.food-quantity {
  background-color: #1E90FF;
  height: 100%;
  width: 15%;
  color: white;
}

.rec-calories {
  height: 100%;
  width: 30%;
}

.today-calorie-div {
  border-right: 1px solid #5aacff;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 6px;
  margin: 5px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.close-btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.close-btn i {
  color: #666;
  font-size: 16px;
}

.drawer {
  position: fixed;
  top: 0;
  right: -18%; /* Start off-screen */
  width: 18%;
  height: 100%;
  background-color: #f4f4f4;
  transition: right 0.3s ease-in-out; /* Add a transition for smooth animation */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.drawer.open {
  right: 0; /* Slide in from the right */
}

.progress-bars-container {
  display: flex;
  flex-direction: column; /* Stack bars vertically */
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}

.loader-icons {
  display: none;
}

.progress-bar {
  height: 15px; /* Adjust height as needed */
  margin-top:2px;
  margin-bottom:2px;
  background-color: rgb(212, 212, 212);
  border-radius: 5px;
  overflow: hidden;
  position: relative; /* Needed for animation */
  animation: progress-bar-infinite linear infinite; /* Infinite animation */
  animation-duration: 1.2s; /* Adjust animation speed as needed */
  width: 100%; /* Set width to 100% of container */
}
.progress-bar-3 {
  width: 60%;
}
.progress-bar-1::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;  /* Start from the left outside the bar */
  width: 100%;
  height: 100%;
  background-color: rgb(233, 233, 233);
  animation: progress-bar-movement-1 linear infinite; /* Animation for moving background */
  animation-duration: 1.2s; /* Match animation duration of progress bar */
}

.progress-bar-2::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;  /* Start from the left outside the bar */
  width: 100%;
  height: 100%;
  background-color: rgb(233, 233, 233);
  animation: progress-bar-movement-2 linear infinite; /* Animation for moving background */
  animation-duration: 1.8s; /* Match animation duration of progress bar */
}

.progress-bar-3::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;  /* Start from the left outside the bar */
  width: 100%;
  height: 100%;
  background-color: rgb(233, 233, 233);
  animation: progress-bar-movement-3 linear infinite; /* Animation for moving background */
  animation-duration: 1.8s; /* Match animation duration of progress bar */
}

@keyframes progress-bar-infinite {
  0% {
    background-color: transparent; /* Start with transparent background */
  }
  100% {
    background-color: rgb(212, 212, 212); /* Animate to lightgray background */
  }
}

/* Define unique keyframes for each progress bar movement */
@keyframes progress-bar-movement-1 {
  0% {
    left: 0; /* Start from left edge */
  }
  100% {
    left: 100%; /* Move all the way to the right */
  }
}

@keyframes progress-bar-movement-2 {
  0% {
    left: -20%;  /* Start from slightly left of center (adjust as needed) */
  }
  100% {
    left: 100%; /* Move beyond the right edge (adjust as needed) */
  }
}

@keyframes progress-bar-movement-3 {
  0% {
    left: -100%; /* Start from the right edge */
  }
  100% {
    left: 100%; /* Move beyond the left edge (adjust as needed) */
  }
}


.diamond-icon-container {
  display: flex; /* Center the icon horizontally */
  justify-content: center;
  width: 50px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
}

/* Hide default outline for SVG element */
.diamond-icon {
  outline: none;
}

/* Gradient definition */


/* Animation (Optional) */
.diamond-icon {
  animation: animate-diamond 3s linear infinite;
}

@keyframes animate-diamond {
  from { transform: rotateZ(0deg); }
  to { transform: rotateZ(360deg); }
}

/* ---------------------------------------- */


  @media (max-width: 768px) {
    .r1wk-card {
      height: 210px;
    }
    .last-week-cal {
      padding: 0; 
    }
    .this-week-cal {
      padding: 0;
    }

    .daily-trend-title {
      margin-left: 0;
      width: 100%;
    }

    .daily-trend-chart-div {
      margin-left: 0;
      width: 100%;
    }

    .selected-date-heading {
      margin-bottom: 20px !important;
      text-align: center;
    }

    .fetch-btn {
      width: 160px;
    }

    .btn-div {
      text-align: center;
    }

    .agg-div {
      text-align: center;
    }
    .container-custom {
      margin-left: 3%;
      padding: 0;
    }

    .today-calorie-div {
      border-right: 0;
    }
    .navbar-custom {
      width: 106%;
    }

    .title-top {
      text-align: center !important;
      margin-top: 7%;
    }

    .analysis-div {
      margin-right: 0;
      margin-left: 0;
    }

    .drawer {
      right: -90%;
      width: 90%;
    }
    
}
